{% extends '_base.html' %}

{% load static %}

{% block header_css %}
<style>
    .block {
        margin: 250px auto 0;
        background-color: #fff;
        height: 500px;
        width: 50%;
        border-radius: 25px;
        box-shadow: 16px 15px 20px 0px rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .block__h1 {
        padding: 15px 0 25px;
    }

    .block__p {
        padding-bottom: 15px;
        text-align: center;
        text-wrap: balance;
    }

    .block__text:hover{
        color: #2e765f;
    }

    .block__text {
        text-decoration: underline;
    }

    .block__separator {
        margin: 0 20px;
        font-weight: 700;
    }
</style>
{{ block.super }}
{% endblock header_css %}

{% block container %}
<div class="block">
    <h1 class="block__h1">{{ message }}</h1>
    <p class="block__p">{{ extra_message }}</p>
    <div class="block__links">
        <a href="{% url 'User:profile' %}"><span class="block__text">Go to profile</span></a>
        <span class="block__separator">|</span>
        <a href="{% url 'home' %}"><span class="block__text">Go to home</span></a>
    </div>
</div>
{% endblock container %}