{% extends '_base.html' %}

{% load static %}

{% block container %}
<div class="form-container">
    <form class="form" id="sign-in-form" method="post" style="width: 50%;">
        {% csrf_token %}
        <h1>Reset password</h1>
        {{ form.non_field_errors.as_divs }}
        <div class="input__inner">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                style="fill: rgba(0, 0, 0, 1)">
                <path
                    d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z">
                </path>
            </svg>
            {{ form.email }}
        </div>
        {{ form.email.errors.as_divs }}
        <button class="form__button button__theme" type="submit" style="margin-top: 20px;">Change</button>
    </form>
    <div class="cover">
        <img class="cover__img" src="{% static 'Users/img/cover.jpg' %}" alt="">
        <div class="cover_content">
            <h1>Hello, Friend!</h1>
            <p>Do you remember your password, but want to change it?</p>
            <a class="button__theme" href="{% url 'User:password-change' %}">Change it</a>
        </div>
    </div>
</div>
{% endblock container %}