.form-container {
    background-color: #fff;
    width: 50%;
    margin: 250px auto 0;
    height: 500px;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
    box-shadow: 16px 15px 20px 0px rgba(0, 0, 0, 0.5);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    padding: 0 30px;
}

.form h1 {
    margin-bottom: 15px;
}

.input__inner {
    position: relative;
    width: 100%;
}

.input__inner svg {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-25%, -50%);
}

.form__input {
    padding: 12px 15px 12px 50px;
    margin: 8px 0;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

.input__inner+.form__button {
    margin-top: 15px;
}

.form a {
    color: #333;
    font-size: 14px;
    margin: 5px 0 20px 0;
}

.form a:hover{
    text-decoration: underline;
    color: #2e765f;
}

.button__theme {
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: #008a5e;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s ease;
}

.button__theme:active {
    transform: scale(0.95);
}

.form__button {
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .13);
}

.form__button:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .65);
}

.cover {
    position: relative;
    width: 60%;
}

.cover__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px) brightness(.6);
}

.cover_content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.cover_content p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 10px 0 20px;
}

.cover_content a {
    box-shadow: 8px 10px 20px 1px rgba(255, 255, 255, .5);
    border: 1.2px solid #42ff9cb0
}

.cover_content a:hover {
    transform: translateY(-3px);
}