* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

body {
    font-size: 16px;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
}

header {
    background-color: white;
    margin-bottom: 40px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.nav a:hover {
    color: blue;
}

.nav {
    display: flex;
    align-items: center;
}

.nav *+* {
    margin-left: 20px;
}

.profile {
    position: relative;
}

.profile__inner {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.profile__img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid transparent;
}

.profile__name {
    font-weight: 600;
}

.profile__dropdown {
    position: absolute;
    width: inherit;
    border: 1px solid black;
    box-shadow: rgb(0 0 0 / 40%) 11px 12px 10px 0px;
    border-radius: 10px;
    margin-top: 0.3rem;
    background-color: #fff;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.profile__dropdown a {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: black;
    text-align: center;
}

.profile__dropdown a:hover {
    background-color: #0000014a;
    color: white;
}

.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
    z-index: 10;
}

.arrow {
    transform: rotate(180deg);
    transition: 0.3s ease;
}

.search {
    position: relative;
    margin-bottom: 30px;
}

.search__input {
    background-color: transparent;
    width: 100%;
    padding: 15px 25px 15px 55px;
    border-radius: 25px;
    font-size: 16px;
    border: 1px solid rgb(129, 129, 129);
}

.search__svg {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.info {
    display: flex;
    gap: 0 30px;
    margin-bottom: 40px;
}

.tabs {
    flex-grow: 1;
}

.tabs__headline,
.news__headline {
    margin-bottom: 25px;
}

.tabs__title,
.news__title {
    display: inline-block;
    padding-bottom: 15px;
    position: relative;
}

.tabs__title::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: darkblue;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.tabs__line,
.news__line {
    width: 100%;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.swiper {
    padding: 10px 10px 25px 10px;
}

.cards__item {
    display: flex;
    flex-direction: column;
    width: 235px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 13px 14px 10px 1px;
}

.category .cards__item {
    height: inherit;
}

.cards__img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    transition: all .3s;
}

.category .cards__img {
    scale: 0.9;
    height: 300px;
}

.cards__img:hover {
    scale: 1.1;
}

.cards__desq {
    /* height: 140px; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category .card__link:hover {
    color: #2222b4;
}

.cards__name {
    margin-bottom: 10px;
}

.cards__name span {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    transition: all .3s;
}

.cards__name span:hover {
    color: #2222b4;
}

.cards__author {
    margin-bottom: 10px;
}

.cards__author span {
    color: grey;
    transition: all .3s;
}

.cards__author span:hover {
    color: #1f70b5;
}

.cards__rating {
    display: flex;
    align-items: flex-end;
}

.cards__rating svg {
    fill: #fbb500;
}

.cards__rating span {
    margin-left: 10px;
}

.news {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.news__content {
    flex-grow: 1;
}

.news__img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 9px 9px 20px 1px;
}

.section__container {
    margin-bottom: 40px;
}

.section__title__container {
    margin-bottom: 20px;
}

.section__title {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.cards__desq-category {
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    height: auto;
}

.card__box {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 14px 19px 16px 7px;
}

/* Profile */
.profile__card__cover {
    width: 100%;
    height: 450px;
    border-radius: 25px;
    object-fit: cover;
}

.profile_card__inner {
    position: absolute;
    inset: 100px auto 0 auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    min-height: 100%;
}

.card__left {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__right {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0 15px 0;
    object-fit: cover;
}

.card__username {
    font-weight: 700;
}

.card__id {
    color: grey;
}

.card__right-inner {
    display: flex;
    flex-wrap: wrap;
}

.text-field {
    width: calc(50% - 2*15px);
    margin: 1rem 15px;
}

.text-field__label {
    display: inline-block;
    margin-bottom: 0.25rem;
}

.text-field__input {
    display: inline-block;
    width: 100%;
    height: calc(2.7rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.text-field__input:disabled,
.text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

.input__file {
    display: contents;
    cursor: pointer;
}

.input__file>span {
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    max-width: 90%;
    max-height: 43px;
    overflow: hidden;
}

.bg__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border: 1px solid black;
    margin-bottom: 10px;
}

.bg__container img {
    margin: 10px 0;
    width: 90%;
    height: 120px;
    object-fit: cover;
}

.button_save {
    color: #fff;
    width: 90%;
    padding: 8px 0;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #008a5e;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s ease;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .65);
    cursor: pointer;
}

.button_save:hover {
    transform: translateY(-1px);
}

.button_save:active {
    transform: scale(.95);
}

/* Auth */
.form-container {
    background-color: #fff;
    width: 50%;
    margin: 250px auto 0;
    height: 500px;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
    box-shadow: 16px 15px 20px 0px rgba(0, 0, 0, 0.5);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    padding: 0 30px;
}

.form h1 {
    margin-bottom: 15px;
}

.input__inner {
    position: relative;
    width: 100%;
}

.input__inner svg {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-25%, -50%);
}

.form__input {
    padding: 12px 15px 12px 50px;
    margin: 8px 0;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

.input__inner+.form__button {
    margin-top: 15px;
}

.form a {
    color: #333;
    font-size: 14px;
    margin: 5px 0 20px 0;
}

.form a:hover {
    text-decoration: underline;
    color: #2e765f;
}

.button__theme {
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: #008a5e;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s ease;
}

.button__theme:active {
    transform: scale(0.95);
}

.form__button {
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .65);
}

.form__button:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .65);
}

.cover {
    position: relative;
    width: 60%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(163 163 163) 100%);
}

.cover__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px) brightness(.6);
}

.cover_content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.cover_content p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 10px 0 20px;
}

.cover_content a {
    box-shadow: 8px 10px 20px 1px rgba(255, 255, 255, .5);
    border: 1.2px solid #42ff9cb0
}

.cover_content a:hover {
    transform: translateY(-3px);
}

/* Author */
.card__inner {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.card__wiki {
    color: #387cf5;
    font-style: italic;
    margin-bottom: 20px;
    text-decoration: underline;
    transition: all .3s ease;
}

.card__wiki:hover {
    color: #008a5e;
}

.right__inner {
    padding: 20px;
}

.card__bio {
    font-family: sans-serif;
    letter-spacing: 1.1px;

}

/* Category */
.box {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 1052px;
}

.page__container {
    width: fit-content;
    border-radius: 0.6rem;
    background: #fff;
    box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
}

.page__prev,
.page__next {
    color: #23adade1;
    font-weight: 900;
    transform: rotate(90deg) translateY(-2px);
}

.arrow-empty {
    color: grey;
    cursor: not-allowed !important;
}

.page__prev,
.page__next,
.page__item,
.page__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    font-size: 1.4rem;
    cursor: pointer;
    width: 2.6rem;
    height: 2.6rem;
}

.page__item {
    border-radius: 0.4rem;
    transition: all .3s ease;
}

.page__item:hover {
    color: #00a9ff;
}

.page__item.page-active {
    color: #ffffff;
    background: #23adad;
    font-weight: 600;
    border: 1px solid #23adad;
}

.cards__books__inner {
    display: flex;
    justify-content: space-evenly;
}

.cards__books-left {
    width: 90%;
}

.cards__books-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Book */

.container__inner {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #babbae;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.body {
    padding: 0 20px;
}

.book__details {
    padding: 20px 0;
    display: flex;
}

.book__cover {
    margin-right: 1.5rem;
    width: 270px;
}

.book__info {
    flex: 1;
}

.panel {
    line-height: 1.5em;
    font-size: 1em;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 0;
    text-align: center;
}

.book__img {
    margin-bottom: 10px;
    text-align: center;
}

.book__img img {
    max-width: 100%;
    width: 240px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0 #c3b683;
    transition: transform .8s, opacity .8s;
}

.book__img img:hover {
    transform: perspective(465px) rotateX(0) rotateY(-10deg);
    opacity: .8;
}

.preview__wrapper {
    display: flex;
    align-items: center;
    line-height: 1.5em;
    font-size: 1em;
}

.preview__wrapper a {
    flex: 1;
    padding: 8px;
    text-align: center;
    margin-top: -15px;
    color: #0376b8;
    font-size: 18px;
    line-height: 2em;
}

.preview__wrapper a:hover {
    text-decoration: underline;
}

.work_title-author {
    display: inline;
}

.work_title {
    overflow-wrap: break-word;
}

.by_line {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0 20px;
}

.by_line a {
    text-decoration: underline;
}

.by_line a:hover {
    color: #34662d
}

.book_rating {
    margin-bottom: 20px;
}

.dot {
    margin: 0 4px;
}

.book_desq {
    margin-bottom: 25px;
    max-height: 235px;
    overflow-y: scroll;
}


.info-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    overflow-x: auto;
}

.info-card-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    padding: 9px;
    margin: 0 4px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    word-break: break-word;
    text-align: center;
    min-width: 100px;
}

.info-card-item div {
    margin-bottom: 4px;
    font-size: 12px;
    color: #666;
    word-wrap: break-word;
}

.preview_unavalible {
    cursor: not-allowed;
    color: #212529 !important;
}

dialog {
    animation: fade-out 0.7s ease-out;
    margin: auto auto;
}

dialog[open] {
    animation: fade-in 0.7s ease-out;
}

dialog[open]::backdrop {
    animation: backdrop-fade-in 0.7s ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }

    100% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }
}

@keyframes backdrop-fade-in {
    0% {
        background-color: rgb(0 0 0 / 0%);
    }

    100% {
        background-color: rgb(0 0 0 / 25%);
    }
}

/* Comments */
.comments__inner {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto 0;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #babbae;
    padding: 10px;
}

.comments {
    border: 1px solid black;
    border-radius: 5px;
    width: 60%;
    margin-right: 20px;

}

.comments>span {
    display: block;
    text-align: center;
    font-size: 18px;
}

.comments-cards {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 10px;
    max-height: 410px;
}

.comment-item {
    background-color: antiquewhite;
    border-radius: 5px;
    margin-bottom: 1.2rem;
}

.item-info {
    display: flex;
}

.item-info>img {
    margin: 5px 10px 5px 5px;
}

.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-text a {
    color: #0376b8;
    text-decoration: underline;
}

.comment-text {
    margin: 0 10px;
}

.add-panel {
    border: 1px solid black;
    border-radius: 5px;
    width: calc(40% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-panel span {
    color: black;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.add-panel textarea {
    resize: none;
    margin: 0 10px 10px 10px;
    min-height: 360px;
    max-height: 360px;
    border-radius: 5px;
    border: 1px solid black;
}

.add-panel button {
    margin: 0 5px 10px;
    width: unset;
}

.user__rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stars {
    margin-right: 15px;
    text-align: center;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.delete_rate {
    color: #999;
    background: 0 0;
    display: block;
    border: 0;
    cursor: pointer;
    margin: 0 auto;
}